.property-review {
  margin: 20px 0;
  width: 100%;
  max-width: 900px;
  height: 220px;
  border: 1px solid black;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  align-content: stretch;
  padding-inline-start: 10px;
  padding-inline-end: 10px;
}

.property-reviews__return {
  font-weight: 700;
  color: green;
  transition: all 300ms ease-in-out;
  cursor: pointer; 
}

.property-reviews__return:hover {
  color: blue;
}
